.footer {
   background: $footer-bg;
   color: white;
   
   &__rights {
      display: flex;
      margin-right: 9.5%; // 81px / 5.5%
   }

   &__container {
      display: flex;
      padding: 96px 0;
   }

   &__year {
      opacity: .1;
      font-size: 48px;
      font-weight: 600;
      line-height: 1;
      margin-right: 16%; // 60px
   }

   &__text {
      display: flex;
      margin-top: 56px;
   }

   &__block {
      max-width: 350px;
      margin-right: 16.3%;
   }
}