.graphics

   .graphics__front-end
      h3.graphics__title Front-end
      ul.graphics__list
         - var frontSkills = ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js'];
         each skill in frontSkills
            li.graphics__item
               .graphics__item-block
                  .graphics__item-name #{skill}

   .graphics__workflow
      h3.graphics__title Workflow
      ul.graphics__list
         - var workflowSkills = ['GIT', 'Terminal', 'Gulp', 'Webpack'];
         each skill in workflowSkills
            li.graphics__item
               .graphics__item-block
                  .graphics__item-name #{skill}