.portfolio-slider
   
   .portfolio-slider__container
      ul.portfolio-slider__list
         - var projects = ['project-1', 'project-2', 'project-3', 'project-4',]
         each projectItem in projects
            li.portfolio-slider__item
               +image(`content/${projectItem}.jpg`, 'portfolio-slider__project')
         
   ul.portfolio-slider__thumbnail-list
      - var projectsThumbnail = ['project-1', 'project-2', 'project-3', 'project-4',]
      each thumbnailItem in projectsThumbnail
         li.portfolio-slider__thumbnail-item
            .portfolio-slider__thumbnail-block
               +image(`content/${thumbnailItem}.jpg`, 'portfolio-slider__thumbnail-project')
            
   .portfolio-slider__btns
      button(class="portfolio-slider__btn portfolio-slider__btn--prev" type="button")
         +icon('arrow', 'portfolio-slider__arrow-prev')
      button(class="portfolio-slider__btn portfolio-slider__btn--next" type="button")
         +icon('arrow', 'portfolio-slider__arrow-next')
