section(class="portfolio")#portfolio
   .container
      h2.title Мои работы
      #portfolio-widget

include portfolio-slider


script(type="text/x-template")#portfolio-content
      .portfolio__content
         slider(
            :works="works"
            :currentWork="currentWork"
            :currentIndex="currentIndex"
            @slide="handleSlide"
         )
         .portfolio__desc
            languages(
               :tags="tagsArray"
            )
            words(
               :currentWork="currentWork"
            )

script(type="text/x-template")#portfolio-languages
   ul.portfolio__languages-list
      li.portfolio__languages-item(v-for="tag in tags")
         .portfolio__languages-block {{tag}}

script(type="text/x-template")#portfolio-words
   .portfolio-text-container
      h3(class="title title--font-29") {{currentWork.title}}
      .portfolio__text
         p.text {{currentWork.desc}}
      .portfolio__schoolls-site
         a.portfolio__link(:href="currentWork.link" target="_blank") Посмотреть сайт
            +icon('link', 'portfolio__link-icon')