.reviews-slider
   ul.reviews-slider__list
      -
         var reviews = [
            {
               avatar: 'dmitry',
               text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5&nbsp;месяца только самых тяжелых испытаний и бессонных ночей!',
               name: 'Ковальчук Дмитрий',
               profession: 'Основатель LoftSchool'
            },{
               avatar: 'vladimir',
               text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
               name: 'Владимир Сабанцев',
               profession: 'Преподаватель'
            }
         ]
      
      each objReview in reviews
         li(class="reviews-slider__item")
            include review