section(class="reviews")#reviews
   .container

      .reviews__container
         .reviews__title
            h2.title Что обо мне говорят
            .reviews__btns
               button(class="reviews__btn reviews__btn--prev" type="button")
                  +icon('arrow', 'reviews__arrow-prev')
               button(class="reviews__btn reviews__btn--next" type="button")
                  +icon('arrow', 'reviews__arrow-next')

         include reviews-slider