mixin skills-row(rowName, skillsArray)
   div(class='skills-row__' + rowName)
      h3.skills-row__title #{rowName}
      ul.skills-row__list
         each skill in skillsArray
            li.skills-row__item(style=`background: conic-gradient(from -90deg, #9300e8, #4a00ed ${skill.val}%, transparent ${skill.val}%)`)
               .skills-row__item-block
                  .skills-row__item-name #{skill.name}