include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .bg-mountains
          .bg-mountains__layer(data-speed='0')
            +image('content/sky.png', 'bg-mountains__image')
          .bg-mountains__layer(data-speed='0.13')
            +image('content/mountain.png', 'bg-mountains__image')
          .bg-mountains__layer(data-speed='0.39')
            +image('content/baloon.png', 'bg-mountains__image')
          .bg-mountains__layer(data-speed='0.2')
            +image('content/cloud.png', 'bg-mountains__image')
          .bg-mountains__layer(data-speed='0.23')
            +image('content/man.png', 'bg-mountains__image')
          .bg-mountains__layer(data-speed='0.25')
            +image('content/mountain-one.png', 'bg-mountains__image')
          .bg-mountains__layer(data-speed='0.28')
            +image('content/white.png', 'bg-mountains__image')
          .bg-mountains__layer(data-speed='0.28')
            +image('content/white.png', 'bg-mountains__image')
          include components/hero
          include components/about
        include components/skills
        include components/portfolio
        .bg-container--budda
          include components/reviews
          include components/write-me
        include components/footer
        

        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg

        //- object-fit
        //- object-position